<div class="backgroundWhiteBorder">
    <div class="container row">
        <div class="col -8">
            <div class="card mt-4">
                <div class="card-header bg-dark text-light m-lg-0 row container">
                    <div class="col-6">
                        <!--<i class="fa fa-shopping-cart"></i> &nbsp;-->
                        Marble Inquiry
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-outline-info btn-sm" href="/">Continue Shopping</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" d-none d-lg-block">
                        <div class="row" style="color:#821f3d">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-12 col-lg-7">
                                Product Details
                            </div>
                            <div class="col-12 col-lg-2">
                                Price per sqft
                            </div>
                            <div class="col-6 col-sm-4 col-lg-1">
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="row h-100">
                        <div class="col-4 col-md-2 text-center py-2">
                            <img src="\images\product\18bfc0bf16c1.png" class="rounded" width="100%" />
                        </div>
                        <div class="col-8 col-lg-7">
                            <h5>Statuary White</h5>
                            <div style="font-size:11px;">A sister stone to Carrara, Statuary marble features a uniform background and light gray tones with distinctive</div>
                        </div>
                        <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                <span style="font-size:17px;"> ₹75</span>/ sqft

                        </div>
                        <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                            <a class="btn btn-outline-danger" href="/Cart/Remove/1">Remove
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-md-9">
                            <button type="submit" class="btn btn-success form-control ">
                                <span>Continue</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="backgroundWhiteBorder">
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light m-lg-0 row container">
                <div class="col-6">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    Inquiry Summary
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-outline-info btn-sm" href="/Cart">Back to Cart</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-7 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">User Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="ApplicationUser_FullName" name="ApplicationUser.FullName" value="sahil" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationUser.FullName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="ApplicationUser_PhoneNumber" name="ApplicationUser.PhoneNumber" value="1234567890" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationUser.PhoneNumber" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Email</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="ApplicationUser_Email" name="ApplicationUser.Email" value="sahil@gmail.com" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationUser.Email" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Summary:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                        <input type="hidden" data-val="true" data-val-required="The Id field is required." id="ProductList_0__Id" name="ProductList[0].Id" value="1" />
                                        <input type="hidden" data-val="true" data-val-required="The Name field is required." id="ProductList_0__Name" name="ProductList[0].Name" value="Statuary White" />
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">Statuary White</h6>
                                                <small class="text-muted">
                                                    Price per Sqft: ₹75
                                                </small>
                                            </div>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-5 offset-md-7">
                        <button type="submit" class="btn btn-primary form-control">Submit Inquiry</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>